@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}

/* smoother scrolling for anchor jumps */
html {
  scroll-behavior: smooth;
}
